<div class="uk-height-auto">

<%= form_with(model: collection, local: true, multipart: true) do |form| %>
<!-- :::::::::::::::::::::::::::::::::::::: @IMAGE STUFF -->
        <div uk-form-custom="target: true">
<% if collection.coll_cover? %>
    <%= image_tag collection.coll_cover.url, class: "uk-margin-small-bottom", width: 100 %>
    <div>
      <%= label_tag :remove_cover do %>
        Remove image
        <%= form.check_box :remove_cover, onchange: 'this.form.submit();' %>
        <% end %>
  </div>
      <% else %>        
    <%= image_tag "", id: "cover_img_tag", width: 100, class: "uk-margin-small-bottom"  %>
    <div>
    </div> 
    <%= form.file_field :coll_cover, id: "cover_img" %>
            <%= form.text_field :coll_cover, class: "uk-input uk-form-width-medium", placeholder: "Select Collection Image", disabled: true %>  
    <%= form.hidden_field :coll_cover_cache %>
<% end %>      
        </div>
<!-- ::::::::::::::::::::::::::::::::::: END @IMAGE STUFF -->

  <div class="uk-margin" uk-margin>
    <%= form.text_field :coll_title, id: :coll_title, class: "uk-input uk-text-capitalize", placeholder: :collection_title %>
  </div>

  <div class="uk-margin">    
    <%= form.text_area :coll_about, id: :coll_about, class: "uk-textarea", placeholder: :about, rows: 5 %>
</div>
    <%= form.text_field :coll_project_id, id: :coll_project_id %>

  <div class="uk-margin">
    <%= form.submit 'Save', class: 'uk-button uk-button-primary uk-align-right' %>
  </div>
<% end %>
</div>
<script type="text/javascript">
  
    function readURL(input) {

        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {

                $('#cover_img_tag').attr('src', e.target.result);

            }

            reader.readAsDataURL(input.files[0]);

        }

    }

    $("#cover_img").change(function(){

        readURL(this);

    });
</script>