<div class="uk-height-auto">
  <%= form_with(model: team, local: true, multipart: true) do |form| %>
  
<!-- :::::::::::::::::::::::::::::::::::::: @IMAGE STUFF -->
        <div uk-form-custom="target: true">
<% if team.tm_cover? %>
    <%= image_tag team.tm_cover.url, class: "uk-margin-small-bottom", width: 100 %>
    <div>
      <%= label_tag :remove_cover do %>
        Remove image
        <%= form.check_box :remove_cover, onchange: 'this.form.submit();' %>
        <% end %>
  </div>
      <% else %>        
    <%= image_tag "", id: "cover_img_tag", width: 100, class: "uk-margin-small-bottom"  %>
    <div>
    </div>
    <%= form.file_field :tm_cover, id: "cover_img" %>
            <%= form.text_field :tm_cover, class: "uk-input uk-form-width-medium", placeholder: "Select Team Image", disabled: true %>  
    <%= form.hidden_field :cover_cache %>
<% end %>      
        </div>
<!-- ::::::::::::::::::::::::::::::::::: END @IMAGE STUFF -->
  <div class="uk-margin" uk-margin>
    <%= form.text_field :tm_name, id: :tm_name, class: "uk-input uk-text-capitalize", placeholder: :team_name %>
  </div>

  <div class="uk-margin cst_select">
    <%= form.date_field :tm_joined_date, id: :tm_joined_date, class: 'uk-input uk-form-width-medium' %>
    <%= form.label :team_joined_date %>
  </div>

  <div class="uk-margin">    
    <%= form.text_area :tm_about, id: :tm_about, class: "uk-textarea", placeholder: :about, rows: 5 %>
</div> 
<% if @team.nil? %>
    <div class="uk-margin">
        <div uk-form-custom="target: > * > span:first-child">
<%= form.select(:tm_project_id, @proj_options) %>
    <!--%= form.select :tm_project_id, Project.ids %>
    < %= form.collection_select :tm_project_id, Project.all, "id", "proj_title", :validate=> true, blank: 'Please Select Project'%-->
            <button class="uk-button uk-button-default" type="button" tabindex="-1">
                <span></span>
                <span uk-icon="icon: chevron-down"></span>
            </button>
  </div>
</div>
<% else %>

  <div class="uk-margin">   
        <div uk-form-custom="target: > * > span:first-child">
    <%= form.collection_select :tm_project_id, Project.order(:proj_title), :id, :proj_title, include_blank: false %>
            <button class="uk-button uk-button-default" type="button" tabindex="-1">
                <span></span>
                <span uk-icon="icon: chevron-down"></span>
            </button>
        </div>
</div>

<% end %>
    <!--%= form.hidden_field :tm_project_id, id: :tm_project_id %-->

  <div class="uk-margin">
    <%= form.submit 'Save', class: 'uk-button uk-button-primary uk-align-right' %>
  </div>
<% end %>
</div>
<script type="text/javascript">
  
    function readURL(input) {

        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {

                $('#cover_img_tag').attr('src', e.target.result);

            }

            reader.readAsDataURL(input.files[0]);

        }

    }

    $("#cover_img").change(function(){

        readURL(this);

    });
</script>