
<!-- #START CONDICTION --> 
    <% if @projects.empty? %>
    <div class="uk-text-center uk-width-1-1 uk-height-medium">
      <h3 class="uk-light">No projects for this category</h3>
    </div> 
    <% else %>
<!-- #START EACH PROJECT -->
    <% @projects.each do |project| %>
    <script type="text/javascript">
  var ImageArray = [<% project.proj_attachments.each do |pic| %>'<%= pic.image.url %>',<% end %> ];
$( "<style type=\'text/css\'>div.bg-img_<%= project.id %> { background:  url(" + ImageArray[Math.floor(Math.random() * ImageArray.length)] + ") no-repeat center center; background-size: cover; background-color: #f8f8f8; }</style>").appendTo( "head" );
</script>
<!-- #START CONTENT LINK -->
      <%= link_to project_url(id: project, term: project.proj_kind, link: project.proj_kind), class: 'uk-inline-clip uk-transition-toggle' do %>
    <div id="bgimg" class="bg-img_<%= project.id %> uk-tile" style="height: 250px; overflow: hidden;">
    <div class="uk-transition-slide-bottom uk-position-cover uk-overlay uk-overlay-primary ">
      <h3 class="uk-card-title uk-light"><%= project.proj_title %></h3>
        <span uk-overlay-icon></span>
        <p class="uk-article-meta uk-light">
  <% if project.proj_startdate || project.proj_enddate %>
      released between <%= project.proj_startdate %> and <%= project.proj_enddate %></p>
  <% else %>
  <!-- if empty nothing to show -->
  <% end %>
     </div>
     </div>
    <% end %>
<!-- #END CONTENT LINK -->
    <% end %>
<!-- #END EACH PROJECT -->
    <% end %>
<!-- #END CONDICTION -->