<div class="uk-padding-small uk-padding-remove-top" style="margin-top: -20px;">
    <ul class="uk-flex-left uk-subnav uk-margin-remove-bottom uk-margin-remove-top" >
<!-- ***************   -->
    	<li id="All" class="">
<%= link_to projects_path( link: :All) do %> 
     All
<% end %>
</li>
<!-- ***************   -->
        <li id="Branding" class="">
<%= link_to  projects_path( term: :Branding, link: :Branding ) do %> 
     Branding
<% end %>
</li>
<!-- ***************   -->
        <li id="Filmandcommercial" class="">
<%= link_to projects_path( :term => 'Film and Commercial', link: :Filmandcommercial ) do %> 
     Film and Commercial
<% end %>
</li>
<!-- ***************   -->
        <li id="Digital"class="">
<%= link_to projects_path( term: :Digital, link: :Digital ) do %> 
     Digital
<% end %>
</li>
<!-- ***************   -->
        <li id="Environmental" class="">
<%= link_to projects_path( term: :Environmental, link: :Environmental ) do %> 
     Environmental
<% end %>
</li>
<!-- ***************   -->
        <li id="Print" class="">
<%= link_to projects_path( term: :Print, link: :Print ) do %> 
     Print
<% end %>
</li>
<!-- ***************   -->
        <li id="Packinging" class="">
<%= link_to projects_path( term: :Packinging, link: :Packinging ) do %> 
     Packinging
<% end %>
</li>
<!-- ***************   -->
        <li id="Product" class="">
<%= link_to projects_path( term: :Product, link: :Products ) do %> 
     Product
<% end %>
     </li>
<!-- ***************   -->
        <li id="Social" class="">
<%= link_to projects_path( term: :Social, link: :Social ) do %> 
     Social
<% end %>
</li>
<!-- ***************   -->
    </ul>
</div>
