<!-- @START THUMBS VIEW -->
   <div class="uk-child-width-1-1">
    <!--% if @project.teams  %-->
                     <% if @team.empty? %>
                    <h5 id="no-media">No Images Found</h5>
<%= link_to "Create Team", new_team_path() %>
                  <% else %>
<ul class="uk-thumbnav uk-child-width-1-4 uk-margin-medium-top" uk-margin>
                    <% @project.teams.each do |pt| %>
                      <li class="uk-text-center">
                          <%= image_tag pt.tm_cover.url, class: "uk-thumbnail", width: 100 %>
                            
          <%= link_to teams_path(pt.id), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" } do %>
          <span uk-icon="icon: close; ratio: 2;" style="color: red;"><span>
          <% end %>
    </li>
                    <% end %>
                </ul>
                  <!--% end %-->
<!--%= debug(@teams) %-->
<!-- @END THUMBS VIEW -->
                     <!--% if @team.empty? %-->

    <table class="uk-table uk-table-divider">
    <thead>
        <tr>
            <th>Title</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
<!-- #START EACH Team -->
    <% @project.teams.each do |t| %>
        <tr>
          <!--td><span class="uk-card-title">< %= t.id %></span></td-->
          <td><span class="uk-card-title"><%= t.tm_name %></span></td>
            <td><%= link_to "Edit", edit_team_path(event: t.tm_name) %></td>
            <td><%= link_to 'Delete', 
                 teams_path(t.id), 
                             method: :delete, 
                             data: { confirm: 'Are you sure?' } %> </td>
        </tr>
    <% end %>
    </tbody>
</table>
<!-- #END EACH Team -->
<% end %>
</div>