<%= render "shared/navigation/backend_nav" %>
<div class="uk-container uk-align-center"> 
<p class="uk-heading-primary uk-text-muted">Editing <%= @project.proj_title %></p>
<div class="uk-card uk-card-default uk-padding">
<p uk-margin>
    <a class="uk-button uk-button-default uk-disabled" type="button">Project Edit</a>
    <a class="uk-button uk-button-secondary" type="button" uk-toggle="target: #imgs">Manage Images</a>
<!-- #IF NO TEAM FOR PROJECT CONDITION -->
    <% if @project.teams %>
    <a class="uk-button uk-button-secondary" type="button" uk-toggle="target: #tm">Add a Team</a>
    <% else %>
    <a class="uk-button uk-button-secondary" type="button">Edit Team</a>
    <% end %>
<!-- #END IF NO TEAM CCONDITION -->
<!-- #IF NO COLLECTION FOR PROJECT CONDITION -->
    <% if @project.collections %>
    <a class="uk-button uk-button-secondary" type="button" uk-toggle="target: #coll">Add Collection</a>
    <% else %>
    <a class="uk-button uk-button-secondary" type="button">Edit Collections</a>
    <% end %>
<!-- #END IF NO COLLECTION CONDITION -->
</p> 
 <!-- #START PROJECT FORM -->
 <div class="uk-section uk-padding-remove">
    <div class="uk-container">
        <h2 class="uk-modal-title">Project Edition</h2>
<div class="uk-column-1-1">
<%= render 'form', project: @project %>
</div>
</div>
</div>
<!-- #START PICTURE FORM -->
<div id="imgs" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Images Editing</h2>
<div class="uk-height uk-padding-large uk-padding-remove-top uk-padding-remove-horizontal">
<%= render 'shared/attachments/proj_attach_form', project: @project %>
</div>
    </div>
</div>
<!-- #START COLLECTIONS FORM -->
<div id="tm" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">New Team</h2>
<div class="uk-height uk-padding-large uk-padding-remove-top uk-padding-remove-horizontal">
<%= render 'projects/teams_stuff/teams_form', project: @project %>
</div>
    </div>
</div>

<div id="coll" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">New Collection</h2>
    <div class="uk-height-viewport">
<%= render 'projects/collections_stuff/collections_form', project: @project %>
</div>
    </div>
</div>
    <!--% if @project.collections %-->
    <!--% else %>
    < %= link_to "Collections", project_collections_path(@project), class: "uk-button uk-button-secondary", type: "button" %>
    < % end %-->
<!-- #END FORMS -->
</ul>
</div>
<div class="uk-text-center uk-margin-medium-top">
<%= link_to :back do %>
 <span uk-icon="icon: arrow-left; ratio: 2"></span> 
 <% end %>
 |
<%= link_to @project do %> 
 <span uk-icon="icon: album; ratio: 2"></span> <% end %>
</div>
</div>