   <!-- @START THUMBS VIEW -->
   <div class="uk-child-width-1-1">
<ul class="uk-thumbnav uk-child-width-1-4 uk-margin-medium-top" uk-margin>
                  <% if @project.proj_attachments.empty? %>
                    <h5 id="no-media">No Images Found</h5>
                  <% else %>
                    <% @project.proj_attachments.each do |pa| %>
                      <li class="uk-text-center">
                          <%= image_tag pa.image.url, class: "uk-thumbnail", width: 100 %>
                            
          <%= link_to proj_attachment_path(pa.id), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" } do %>
          <span uk-icon="icon: close; ratio: 2;" style="color: red;"><span>
          <% end %>
    </li>
                    <% end %>
                  <% end %>
                </ul>
<!-- @END THUMBS VIEW -->
<div class="uk-margin-medium-top">
  <p style="color: grey;">Add Images</p>
<%= form_with model: @project, local: true do |f| %>  
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
   <%= f.fields_for :proj_attachments, ProjAttachment.new do |fpj| %>
  <div class="uk-margin fallback" uk-margin>
        <div uk-form-custom="target: true">
       <%= fpj.file_field :image, multiple: true, name: "project[proj_attachments_attributes][][image]"  %>
            <input class="uk-input uk-form-width-medium" type="text" placeholder="Select files" disabled>        
        </div>
   <% end %>
   <div class="actions">
    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
    <%= f.submit :upload, class: "uk-button uk-button-primary" %>
   </div>
</div>
<% end %>
</div>
</div>