<!-- #START MEDIUM AN LARGE DEVICES NAVIGATOR -->
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky;" style="background: #373737;" class="uk-visible@m">
	<div class="" style="margin-top: -20px;">
		<nav class="uk-navbar">
		<div class="uk-navbar-left">
			<ul class="uk-navbar-nav uk-flex-left">
                <!-- ***************************  -->
				<li id="projects" class="">
					<%= link_to "projects", projects_path( pg: :projects), class: "" %>
				</li>
                <!-- ***************************  -->
     <% if @collections.empty? %>
         <!-- EMPTY -->
     <% else %>
				<li id="collections" class="">
					<%= link_to "Collections", collections_path( pg: :collections), class: "" %></li>
					<% end %>
                <!-- ***************************  -->
     <% if @activities.empty? %>
         <!-- EMPTY -->
     <% else %>
				<li id="activities" class="">
					<%= link_to "Activities", activities_path( pg: :activities), class: "" %></li>
					<% end %>
                <!-- ***************************  -->
     <% if @teams.empty? %>
         <!-- EMPTY -->
     <% else %>
				<li id="teams" class="">
					<%= link_to "Teams", teams_path( pg: :teams), class: "" %></li>
			<% end %>
                <!-- ***************************  -->
     <% if @partners.empty? %>
         <!-- EMPTY -->
     <% else %>
				<li id="partners" class="">
					<%= link_to "Partners", partners_path( pg: :partners), class: "" %></li>
	<% end %>
                <!-- ***************************  -->
     <% if @publications.empty? %>
         <!-- EMPTY -->
     <% else %>
				<li id="publications" class="">
					<%= link_to "Publications", publications_path( pg: :publications), class: "" %></li>
					<% end %>
                <!-- ***************************  -->
				<li id="contact_me">
					<%= link_to "Challenge me", new_message_url(pg: :contact_me), class: "" %></li>
</ul>
</div> 
	<div class="uk-navbar-right">
	<%= link_to root_path, class: "uk-navbar-toggle uk-navbar-toggle-icon uk-icon uk-navbar-item uk-logo router-link-exact-active cst-active-no-line"  do %>
<span style="font-family: 'IBM Plex Serif', serif; font-weight: 600;">tutanus</span>
	<% end %>
</div>
</nav>
</div>
</div>
<!-- #END MEDIUM AN LARGE DEVICES NAVIGATOR -->
<!-- #START SMALL DEVICES NAVIGATOR -->
	<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky;" style="background: #373737; margin-top: -20px;" class="uk-hidden@s">
	<div class="uk-container uk-container-expand" style="margin-top: -20px;">
		<nav class="uk-navbar">
		<div class="uk-navbar-left">
	<%= link_to root_path, class: "uk-navbar-item uk-logo router-link-exact-active cst-active-no-line"  do %>
<span style="font-family: 'IBM Plex Serif', serif; font-weight: 600;">tutanus</span>
	<% end %>
</div> 
	<div class="uk-navbar-right">
	<a uk-navbar-toggle-icon="" href="#" uk-toggle="target: #overlayNav; animation: uk-animation-fade" class="uk-navbar-toggle uk-navbar-toggle-icon uk-icon">
		<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1">
		<rect y="9" width="20" height="2"></rect>
		<rect y="3" width="20" height="2"></rect>
		<rect y="15" width="20" height="2"></rect>
	</svg>
</a>
</div>
</nav>
</div>
<%= render "shared/navigation/main_overlaynav" %>
</div>
<!-- #END SMALL DEVICES NAVIGATOR -->

