<div class="uk-height-auto">
<%= form_for @contact do |f| %>
    <% if flash[:error].present? %>
        <p> flash[:error]</p>
    <% end %>
  <div class="uk-margin" uk-margin>
    <%= f.text_field :name, required: true, class: "uk-input uk-text-capitalize", placeholder: :name %>
    </div>
  <div class="uk-margin" uk-margin>
    <%= f.text_field :email, required: true %>

    </div>
  <div class="uk-margin" uk-margin>
    <%= f.text_area :message, as: :text, class: "uk-input uk-textarea", rows: "4", placeholder: :message %>
    </div>

 
  <div class="uk-margin" uk-margin>
    <%= f.text_field :nickname, hint: 'leave this field blank', class: "uk-input uk-text-capitalize", placeholder: :nickname %>
    </div> 
  <div class="uk-margin">
    <%= f.submit 'Send Message', class: 'uk-button uk-button-primary uk-align-right' %>
  </div>
  <% end %>
  </div>
