 <% if @teams.empty? %>
    <div class="uk-text-center uk-width-1-1">
      <h5 class="uk-text-muted">No teams available</h5>
    </div>
    <% else %>
    <div class="uk-text-center uk-width-1-1">
    <h5 class="uk-text-center uk-text-capitalize uk-text-muted uk-padding-remove-top uk-margin-remove">Teams on board</h5> 
</div>
<!-- #START DIPLAY LIST -->
    <% @teams.each do |team| %>
    <%= link_to team_url(id: team.id, pg: :teams), class: 'uk-inline-clip uk-transition-toggle' do %>
    <div class="uk-tile uk-background-cover" data-src="<%= team.tm_cover.url %>" style="height: 250px; overflow: hidden; background: #f8f8f8 url(<%= team.tm_cover.url %>) no-repeat center center; background-size: cover;" uk-img>
    <div class="uk-transition-slide-bottom uk-position-cover uk-overlay uk-overlay-primary ">
      <h3 class="uk-card-title uk-light"><%= team.tm_name %></h3>
        <span uk-overlay-icon></span>
     </div>
     </div>
    <% end %>
    <% end %>
<!-- #END DISPLAY LIST-->
    <% end %>
 <%= render "shared/bottom_page" %>