<% provide(:title, "tutanus") %>
<!DOCTYPE html>
<html>
  <head>    
  	<title><%= yield(:title) %> | hard bone? great narrow!</title>
    <!--title>Tutanus</title-->
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- UIkit CSS -->
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" %>

    <!-- %= stylesheet_link_tag "//cdn.muicss.com/mui-0.9.38/css/mui.min.css", rel: "stylesheet" % -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity: "sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=", crossorigin: "anonymous" %>
    <!-- %= javascript_include_tag "//cdn.muicss.com/mui-0.9.38/js/mui.min.js" % -->
    <!-- UIkit JS -->
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js" %>

  </head>

  <body>
  		<!--div class="uk-width-1-1"-->
    <%= yield %>
<!--/div-->
<%= render "shared/footer" %>
  </body>
</html>
